<h1> Billboard </h1>

<%= button_to "Log Out", destroy_user_session_path, method: :delete %>
<h2>Welcome <%= current_user.first_name %></h2>
<hr />
<%= link_to "Add Billboard", new_billboard_path %>
<h3>Billboard</h3>
<ul>
  <% @billboards.each do |billboard| %>
    <li>
      <%= billboard.name %>
    </li>
  <% end %>
</ul>