<div class="ui card">
  
  <div class="content">
    <p class="header">
      <%= @billboard.name %>
    </p>
  </div>
 </div>
 <div class="extra content">
   <%= link_to 'Edit Billboard', edit_billboard_path(@billboard) %> |
   <%= link_to "View top Songs", billboard_songs_path(@billboard) %> |
   <%= link_to 'Back to Billboards', billboards_path %>    
 </div>
</div>